.cell {
    text-align: center;
    border: 2px solid #1A8C40;
    cursor: pointer;
}

.cell-box {
    width: 100%;
    padding: 8px;
}

.cell:hover {
    background-color: #e5faec;
}

.flex-container {
    height: 120px;
    display: flex;
}

select {
    border: 1px solid #1A8C40;
    color: #1A8C40;
}
