<div class="flex-container">
    <div class="cell-box">
        <div style="margin: auto; text-align: center;">
            <h5>{{ 'RATING.TEAM_SPIRIT' | translate }}</h5>
            <select class="form-control" id="teamSpirit" [(ngModel)]="teamSpirit" (change)='changeSpirit()'>
                <option *ngFor='let item of localTeamSpirits; let i = index' value="{{i}}">{{item | translate}}
                </option>
            </select>
        </div>
    </div>
    <div class="cell-box">&nbsp;</div>
    <div class="cell cell-box" (click)="selectPosition(1)">
        <app-player-box [player]="players[0]"></app-player-box>
    </div>
    <div class="cell-box">&nbsp;</div>
    <div class="cell-box" style="margin: auto; text-align: center;">
        <table style="width: 100%;">
            <tr>
                <td>{{rdRating}}</td>
                <td>{{cdRating}}</td>
                <td>{{ldRating}}</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>{{midfieldRating}}</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>{{raRating}}</td>
                <td>{{caRating}}</td>
                <td>{{laRating}}</td>
            </tr>
        </table>
    </div>
</div>
<div class="flex-container">
    <div class="cell cell-box" (click)="selectPosition(2)">
        <app-player-box [player]="players[1]"></app-player-box>
    </div>
    <div class="cell cell-box" (click)="selectPosition(3)">
        <app-player-box [player]="players[2]"></app-player-box>
    </div>
    <div class="cell cell-box" (click)="selectPosition(4)">
        <app-player-box [player]="players[3]"></app-player-box>
    </div>
    <div class="cell cell-box" (click)="selectPosition(5)">
        <app-player-box [player]="players[4]"></app-player-box>
    </div>
    <div class="cell cell-box" (click)="selectPosition(6)">
        <app-player-box [player]="players[5]"></app-player-box>
    </div>
</div>
<div class="flex-container">
    <div class="cell cell-box" (click)="selectPosition(7)">
        <app-player-box [player]="players[6]"></app-player-box>
    </div>
    <div class="cell cell-box" (click)="selectPosition(8)">
        <app-player-box [player]="players[7]"></app-player-box>
    </div>
    <div class="cell cell-box" (click)="selectPosition(9)">
        <app-player-box [player]="players[8]"></app-player-box>
    </div>
    <div class="cell cell-box" (click)="selectPosition(10)">
        <app-player-box [player]="players[9]"></app-player-box>
    </div>
    <div class="cell cell-box" (click)="selectPosition(11)">
        <app-player-box [player]="players[10]"></app-player-box>
    </div>
</div>
<div class="flex-container">
    <div class="cell-box">&nbsp;</div>
    <div class="cell cell-box" (click)="selectPosition(12)">
        <app-player-box [player]="players[11]"></app-player-box>
    </div>
    <div class="cell cell-box" (click)="selectPosition(13)">
        <app-player-box [player]="players[12]"></app-player-box>
    </div>
    <div class="cell cell-box" (click)="selectPosition(14)">
        <app-player-box [player]="players[13]"></app-player-box>
    </div>
    <div class="cell-box">&nbsp;</div>
</div>