<div class="row">
    <div class="col-6 col-md-6">
        <form id="my-form">
            <div class="form-group row">
                <div class="col-3 col-md-3">
                    <label class="col-form-label">{{ 'TRAINING.skill' | translate }}</label>
                </div>
                <div class="col-9 col-md-9">
                    <select class="form-control" (change)=trainingChange($event)>
                        <option *ngFor='let item of skillNames; let i = index' value="{{skillvalues[i]}}">{{item}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3 col-md-3">
                    <label class="col-form-label">{{ 'TRAINING.years' | translate }}</label>
                </div>
                <div class="col-9 col-md-9">
                    <input class="form-control" type="number" [(ngModel)]="years" name="years" value="0" min="17"
                        max="35" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3 col-md-3">
                    <label class="col-form-label">{{ 'TRAINING.days' | translate }}</label>
                </div>
                <div class="col-9 col-md-9">
                    <input class="form-control" type="number" [(ngModel)]="days" name="days" value="0" min="0"
                        max="111" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3 col-md-3">
                    <label class="col-form-label">{{ 'TRAINING.skilllevel' | translate }}</label>
                </div>
                <div class="col-9 col-md-9">
                    <input class="form-control" type="number" [(ngModel)]="skilllevel" name="skilllevel" value="0"
                        min="0" max="20" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3 col-md-3">
                    <label class="col-form-label">{{ 'TRAINING.subskill' | translate }}</label>
                </div>
                <div class="col-9 col-md-9">
                    <input class="form-control" type="number" [(ngModel)]="subskill" name="subskill" value="0" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3 col-md-3">
                    <label class="col-form-label">{{ 'TRAINING.coachlevel' | translate }}</label>
                </div>
                <div class="col-9 col-md-9">
                    <input class="form-control" type="number" [(ngModel)]="coachlevel" name="coachlevel" value="0"
                        min="0" max="20" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3 col-md-3">
                    <label class="col-form-label">{{ 'TRAINING.assistants' | translate }}</label>
                </div>
                <div class="col-9 col-md-9">
                    <input class="form-control" type="number" [(ngModel)]="assistants" name="assistants" value="0"
                        min="0" max="20" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4 col-md-4">
                    <label class="col-form-label">{{ 'TRAINING.intensity' | translate }}</label>
                </div>
                <div class="col-8 col-md-8">
                    <input class="form-control" type="number" [(ngModel)]="intensity" name="intensity" value="0" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3 col-md-3">
                    <label class="col-form-label">{{ 'TRAINING.stamina' | translate }}</label>

                </div>
                <div class="col-9 col-md-9">
                    <input class="form-control" type="number" [(ngModel)]="stamina" name="stamina" value="0" min="0"
                        max="100" />
                </div>
            </div>
            <button class="btn btn-primary" type="button"
                (click)='trainingcalc()'>{{ 'TRAINING.SUBMIT' | translate }}</button>
        </form>
    </div>
    <div class="col-6 col-md-6">
        <table class="table table-bordered table-sm">
            <thead>
                <tr>
                    <th style="text-align: center">{{ 'TRAINING.skill' | translate }}</th>
                    <th style="text-align: center">{{ 'TRAINING.weeks' | translate }}</th>
                    <th style="text-align: center">{{ 'TRAINING.age' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let item of results'>
                    <td>{{item[0]}}</td>
                    <td>{{item[1]}}</td>
                    <td>{{item[2]}}</td>
                </tr>
            </tbody>
        </table>

        <p style="color: slategray">Formula by ht-tools.eu</p>
    </div>
</div>