<div>
    <button mat-mini-fab (click)="addRelation()">
        <mat-icon>add</mat-icon>
    </button>
</div>
<ng-container *ngFor="let model of models; let i=index">
    <div fxLayout="row">
        <div fxFlex>
            <div fxLayout="row">
                <div fxFlex>
                    <mat-form-field style="text-align: center">
                        <mat-label>انتخاب جدول اول</mat-label>
                        <mat-select [(ngModel)]="model.tableOne">
                            <mat-option *ngFor="let table of tables" [value]="table.id">
                                {{table.faName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex>
                    <ng-container *ngIf="model.tableOne != -1">
                        <mat-form-field style="text-align: center">
                            <mat-label>انتخاب فیلد اول</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let table of tables" [value]="table.id">
                                    {{table.faName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </ng-container>
                </div>
            </div>
        </div>
        <div fxFlex>
            <div fxLayout="row">
                <div fxFlex>
                    <mat-form-field style="text-align: center">
                        <mat-label>انتخاب جدول دوم</mat-label>
                        <mat-select [(ngModel)]="model.tableTwo">
                            <mat-option *ngFor="let table of tables" [value]="table.id">
                                {{table.faName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex>
                    <ng-container *ngIf="model.tableTwo != -1">
                        <mat-form-field style="text-align: center">
                            <mat-label>انتخاب فیلد دوم</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let table of tables" [value]="table.id">
                                    {{table.faName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <div fxLayout="row">
        <div fxFlex> </div>
        <div fxFlex *ngIf="model.tableOne != -1 && model.tableTwo != -1">
            <mat-form-field style="text-align: center">
                <mat-label>نوع ارتباط</mat-label>
                <mat-select>
                    <mat-option *ngFor="let table of tables" [value]="table.id">
                        {{table.faName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex> </div>
    </div>
</ng-container>