<mat-list>
    <mat-nav-list>
        <mat-list-item>
            <mat-icon role="img" aria-label="dashboard">dashboard</mat-icon>
            &nbsp;
            <span>داشبورد</span>
        </mat-list-item>
        <mat-list-item>
            <mat-icon role="img" aria-label="home">home</mat-icon>
            &nbsp;
            <span>خانه</span>
        </mat-list-item>
        <mat-list-item>
            <mat-icon role="img" aria-label="insert_drive_file">insert_drive_file</mat-icon>
            &nbsp;
            <span>تقاضاها</span>
        </mat-list-item>
        <mat-list-item>
            <mat-icon role="img" aria-label="developer_board">developer_board</mat-icon>
            &nbsp;
            <span>محصولات</span>
        </mat-list-item>
    </mat-nav-list>
</mat-list>