<div class="row">
    <div class="col-md-7">
        <table class="table back">
            <tr>
                <td>
                    <div class="form-group">
                        <label class="white">{{ 'RATING.RD' | translate }} <span
                                id="rd">[{{rateValues[2]}}]</span></label>
                        <input type="number" id="rdInput" step="0.25" min="0" max="20.75" class="form-control"
                            [(ngModel)]='defaultValues[2]' (change)="skillInputChange('RD', $event)">
                        <select class="form-control" [(ngModel)]='defaultValues[2]' id="rdSelect"
                            (change)="skillInputChange('RD', $event)">
                            <option *ngFor='let item of skillEngStrings | reverse; let i = index'
                                value="{{skillNumbers[skillEngStrings.length-i-1]}}">{{item | translate}}</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label class="white">{{ 'RATING.CD' | translate }} <span
                                id="cd">[{{rateValues[1]}}]</span></label>
                        <input type="number" id="cdInput" step="0.25" min="0" max="20.75" class="form-control"
                            [(ngModel)]='defaultValues[1]' (change)="skillInputChange('CD', $event)">
                        <select class="form-control" [(ngModel)]='defaultValues[1]' id="cdSelect"
                            (change)="skillInputChange('CD', $event)">
                            <option *ngFor='let item of skillEngStrings | reverse; let i = index'
                                value="{{skillNumbers[skillEngStrings.length-i-1]}}">{{item | translate}}</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label class="white">{{ 'RATING.LD' | translate }} <span
                                id="ld">[{{rateValues[0]}}]</span></label>
                        <input type="number" id="ldInput" step="0.25" min="0" max="20.75" class="form-control"
                            [(ngModel)]='defaultValues[0]' (change)="skillInputChange('LD', $event)">
                        <select class="form-control" [(ngModel)]='defaultValues[0]' id="ldSelect"
                            (change)="skillInputChange('LD', $event)">
                            <option *ngFor='let item of skillEngStrings | reverse; let i = index'
                                value="{{skillNumbers[skillEngStrings.length-i-1]}}">{{item | translate}}</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <div class="form-group text-center">
                        <label class="white">{{ 'RATING.MID' | translate }} <span id="m">[{{rateValues[3]}}] =>
                                [{{newMidRate}}]</span></label>
                        <div class='row'>
                            <div class='col-8 col-md-8'><input type="number" id="mInput" step="0.25" min="0" max="20.75"
                                    class="form-control" [(ngModel)]='defaultValues[3]'
                                    (change)="skillInputChange('M', $event)"></div>
                            <div class='col-4 col-md-4'><input
                                    [ngClass]="{ 'black': midDefaultRate == 0,'green': midDefaultRate > 0, 'red': midDefaultRate < 0}"
                                    type="text" id="mDiff" class="form-control" disabled
                                    value="{{intNewMidRate + floatNewMidRate}}"></div>
                        </div>
                        <select class="form-control" [(ngModel)]='defaultValues[3]' id="mSelect"
                            (change)="skillInputChange('M', $event)">
                            <option *ngFor='let item of skillEngStrings | reverse; let i = index'
                                value="{{skillNumbers[skillEngStrings.length-i-1]}}">{{item | translate}}</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <label class="white">{{ 'RATING.RA' | translate }} <span
                                id="ra">[{{rateValues[6]}}]</span></label>
                        <input type="number" id="raInput" step="0.25" min="0" max="20.75" class="form-control"
                            [(ngModel)]='defaultValues[6]' (change)="skillInputChange('RA', $event)">
                        <select class="form-control" [(ngModel)]='defaultValues[6]' id="raSelect"
                            (change)="skillInputChange('RA', $event)">
                            <option *ngFor='let item of skillEngStrings | reverse; let i = index'
                                value="{{skillNumbers[skillEngStrings.length-i-1]}}">{{item | translate}}</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label class="white">{{ 'RATING.CA' | translate }} <span
                                id="ca">[{{rateValues[5]}}]</span></label>
                        <input type="number" id="caInput" step="0.25" min="0" max="20.75" class="form-control"
                            [(ngModel)]='defaultValues[5]' (change)="skillInputChange('CA', $event)">
                        <select class="form-control" [(ngModel)]='defaultValues[5]' id="caSelect"
                            (change)="skillInputChange('CA', $event)">
                            <option *ngFor='let item of skillEngStrings | reverse; let i = index'
                                value="{{skillNumbers[skillEngStrings.length-i-1]}}">{{item | translate}}</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label class="white">{{ 'RATING.LA' | translate }} <span
                                id="la">[{{rateValues[4]}}]</span></label>
                        <input type="number" id="laInput" step="0.25" min="0" max="20.75" class="form-control"
                            [(ngModel)]='defaultValues[4]' (change)="skillInputChange('LA', $event)">
                        <select class="form-control" [(ngModel)]='defaultValues[4]' id="laSelect"
                            (change)="skillInputChange('LA', $event)">
                            <option *ngFor='let item of skillEngStrings | reverse; let i = index'
                                value="{{skillNumbers[skillEngStrings.length-i-1]}}">{{item | translate}}</option>
                        </select>
                    </div>
                </td>
            </tr>
        </table>
        <div>
            <button class="reset btn btn-outline-success" (click)="resetRating()">{{ 'RATING.RESET' | translate }}</button>
        </div>
    </div>
    <div class="col-md-5">
        <div class="col-md-12">
            <div class="card text-center" style="margin-bottom: 8px;">
                <div class="card-header">{{ 'RATING.TEAM_SPIRIT' | translate }}</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>{{ 'RATING.DEFAULT' | translate }}</h5>
                            <select class="form-control" id="teamSpirit" [(ngModel)]="oldSpirit"
                                (change)='changeSpirit()'>
                                <option *ngFor='let item of localTeamSpirits; let i = index' value="{{i}}">{{item | translate}}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <h5>{{ 'RATING.NEW' | translate }}</h5>
                            <select class="form-control" id="teamSpiritNew" [(ngModel)]="newSpirit"
                                (change)='changeSpirit()'>
                                <option *ngFor='let item of localTeamSpirits; let i = index' value="{{i}}">{{item | translate}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card text-center" style="margin-bottom: 8px;">
                <div class="card-header">{{ 'RATING.FILTERS' | translate }}</div>
                <div class="card-body">
                    <div class="">
                        <div class="form-check-inline">
                            <label class="form-check-label" for="radio1">
                                <input type="radio" class="form-check-input" name="negaresh" (click)="filterClick(1, 1)"
                                    checked> {{'RATING.NORMAL' | translate }}
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label" for="radio2">
                                <input type="radio" class="form-check-input" name="negaresh"
                                    (click)="filterClick(1, 2)"> {{'RATING.MOTS' | translate }}
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="negaresh"
                                    (click)="filterClick(1, 3)"> {{'RATING.PIC' | translate }}
                            </label>
                        </div>
                    </div>
                    <div class="">
                        <div class="form-check-inline">
                            <label class="form-check-label" for="radio1">
                                <input type="radio" class="form-check-input" name="matchtype"
                                    (click)="filterClick(2, 1)" checked> {{'RATING.AWAY' | translate }}
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label" for="radio2">
                                <input type="radio" class="form-check-input" name="matchtype"
                                    (click)="filterClick(2, 2)"> {{'RATING.HOME' | translate }}
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="matchtype"
                                    (click)="filterClick(2, 3)"> {{'RATING.DERBY' | translate }}
                            </label>
                        </div>
                    </div>
                    <div class="">
                        <div class="form-check-inline">
                            <label class="form-check-label" for="radio1">
                                <input type="radio" class="form-check-input" name="tactic" (click)="filterClick(3, 1)"
                                    checked> {{'RATING.OTHER' | translate }}
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label" for="radio2">
                                <input type="radio" class="form-check-input" name="tactic"
                                    (click)="filterClick(3, 2)"> {{'RATING.COUNTER' | translate }}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card text-center" style="margin-bottom: 8px;">
                <div class="card-header">{{ 'RATING.STATIS' | translate }}</div>
                <div class="card-body">
                    <table class="table table-sm">
                        <tr>
                            <td colspan="2" id="total_rating"><b>{{ 'RATING.TOTAL' | translate }}:
                                    {{defRate + midRate + attRate}}</b></td>
                            <td id="ave_total">
                                <b>{{ 'RATING.AVE_TOTAL' | translate }}: {{getAverage(getAverage(defRate) + getAverage(midRate) +
                                    getAverage(attRate))}}</b>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" id="def">{{ 'RATING.DEF' | translate }}: {{defRate}}</td>
                            <td id="ave_def">{{ 'RATING.AVE_DEF' | translate }}: {{getAverage(defRate)}}</td>
                        </tr>
                        <tr>
                            <td colspan="2" id="mid">{{ 'RATING.MID' | translate }}: {{midRate}} # 
                            <span
                                [ngClass]="{ 'black': rateValues[3] == newMidRate,'green': rateValues[3] < newMidRate, 'red': rateValues[3] > newMidRate}">
                                [{{midDefaultRate}}]</span></td>
                            <td id="ave_mid">{{ 'RATING.AVE_MID' | translate }}: {{getAverage(midRate)}}</td>
                        </tr>
                        <tr>
                            <td colspan="2" id="att">{{ 'RATING.ATTACK' | translate }}: {{attRate}}</td>
                            <td id="ave_att">{{ 'RATING.AVE_ATTACK' | translate }}: {{getAverage(attRate)}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>