<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span class="mat-button-wrapper">
            <!-- <img style="height: 35px;margin: 0 4px 3px 0;"  src="assets/img/logos.png" alt="گزارش ساز پویا"
                class="docs-angular-logo title-center"> -->
        </span>
        <span class="mat-button-wrapper">
            <span style="text-align: center;" class="title-center"> گزارش ساز پویا رصا </span>
        </span>


        <span style="flex: 1 1 auto;"></span>
        <a mat-button>خروج </a>


    </mat-toolbar-row>
</mat-toolbar>
<div class="docs-primary-header component-page-header">


    <h1 focusOnNavigation></h1>
</div>
<div style="padding: 16px;margin-top:-80px;margin-bottom: 100px;">

    <main>
        <router-outlet></router-outlet>
    </main>
</div>