.component-page-header {
    display: flex;
    align-items: center;
    @media (max-width: $small-breakpoint-width) {
        padding-left: 0;
    }
}

h1 {
    outline: none;
    @media (max-width: $small-breakpoint-width) {
        padding: 24px 8px;
        font-size: 20px;
    }
}

.sidenav-toggle {
    padding: 0;
    margin: 8px;
    min-width: 64px;
    display: none;
    @media (max-width: $small-breakpoint-width) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    mat-icon {
        font-size: 30px;
        height: 64px;
        width: 64px;
        line-height: 64px;
        color: white;
    }
}

.docs-primary-header {
    background: #3f51b5;
    height: 80px;
}

.docs-primary-header h1 {
    font-weight: 300;
    margin: 0;
    padding: 28px 8px;
    font-size: 20px;
    color: #fff;
}

app-navbar .docs-navbar,
app-navbar .docs-navbar-header {
    background: #3f51b5;
}

.mat-toolbar.mat-primary {
    /* background: linear-gradient(90deg, #875A7B 20%, #62495B 80%) !important; */
    background: #3f51b5;
    color: #fff;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

.title-center {
    flex: 1 1 auto;
    text-align: center;
}