<mat-list>
    <mat-nav-list>
        <mat-list-item [routerLink]="['./custom']">
            <mat-icon role="img" aria-label="dashboard">edit</mat-icon>
            &nbsp;
            <span>ایجاد گزارش</span>
        </mat-list-item>
        <mat-list-item>
            <mat-icon role="img" aria-label="home">assessment</mat-icon>
            &nbsp;
            <span>گزارش های من</span>
        </mat-list-item>
        <mat-list-item>
            <mat-icon role="img" aria-label="insert_drive_file">help</mat-icon>
            &nbsp;
            <span>راهنما</span>
        </mat-list-item>
        <mat-list-item>
            <mat-icon role="img" aria-label="developer_board">exit_to_app</mat-icon>
            &nbsp;
            <span>خروج</span>
        </mat-list-item>
    </mat-nav-list>
</mat-list>